html {
	scroll-behavior: smooth;
overflow-x: hidden;
}
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: 'Coda', cursive; 
}
hr{
	border-top: 1px;
	width: 70%;
	border-color: orange;
}
header{
	text-align: center;
	font-size: 25px;

  text-shadow: 1px 1px 3px black;
  margin-bottom: -20px;
}
header img{
	width: 400px;
	height: 200px;
}
a{
	text-decoration: none;
}
.fab{
	position: absolute;
	top: 50px;
	font-size: 25px;
}
.fa-facebook{
	right: 150px;
}
.fa-instagram{
	right: 110px;
}

/*nav*/
#big_menu{
	background-color: rgba(255,255,255,0.9);
  padding-left: 25%;
	padding-right: 25%;
	position: sticky;
	top: 0px;
	z-index: 10;
	border: 1px solid lime;
	//font-size: 13px !important;
	font-family: Josefin Sans;
	text-transform: uppercase;
}
#big_menu a{
	font-weight: bold;
	color: black;
  display: inline-block;
	width: 25%;
	transition: 0.3s;
}
#big_menu a:hover{
	font-size: 14px;
	text-shadow: 2px 2px 2px black;

}
#big_menu ul{
  padding: 0px;
}
#big_menu ul li {
  display: inline;
  text-align: center;
}
.item-nav{
  transition: 0.2s;
	height: 20px
}

#toggler{
	position: fixed;
	display: none;
	top: 35px;
    left: 15px;
	border: solid 1px black;
	color: black;
	padding: 12px;
	margin-top: 20px;
	margin-left:5px;
	z-index: 10;
	background-color: white;
}
#small_menu{
	position: fixed;
	top: 80px;
	height: 0px;
	overflow: hidden;
	margin-left: 5px;
	transition: 0.5s;
	font-size: 18px;
	font-family: Josefin Sans;
	z-index: 10;
	text-transform: uppercase;
}
#small_menu a:hover{
	color: orange;
	text-shadow: 1px 1px 1px black;
}
#small_menu a{
	color: black;
}
#small_menu ul{
	width: 120px;
	padding: 10px;
	margin-left: 15px;
	background-color: white;
	line-height: 200%;
	list-style: none;
	border: solid 1px black;
}



.separator {
	color: black;
  font-size: 20px;
  height: 100px;
  text-align: center;
	
}
.content {
  margin-top: 40px;
 text-align: center;
  color: black;
	padding: 20px 100px 20px 100px;
  min-height: 500px;
 	background-color: white;
	 //font-family: 'Kalam', cursive;
	 font-family: 'Poppins', sans-serif;

}
  
.mnie_pic{
  float: left;
  margin-right: 50px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px black;
}
.mnie_pic img{
	width: 300px;
}
.mnie_txt{
  padding: 50px 350px 50px 50px;
  background-color: white;
z-index: 10;
}
#pictures a img {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 450px;
}
#pictures a {
    display: block;
    position: absolute;
    top: 297px;
    right: -600px;
    transition: right 0.5s ease-out;
   
}
#pictures a.current {

    right:100px;
    
}

.gallery{
	display: inline-block;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	
}
.gallery img{
	width: 280px;
	height: 420px;
	transition: 0.2s;
}
.gallery img:hover{
	opacity: 0.6;
	cursor: pointer;
	box-shadow: 3px 3px 5px black;
	filter: blur(2px);
}

.cennik_left{
	float: left;
}
.cennik_left img{
	width: 250px;
	height: 375px;
} 
.cennik_right{
	float: right;
}
.cennik_right img{
	width: 400px;
	height: 600px;
}

@media (max-width: 1000px) {
	header img{
		width: 300px;
		height: 150px;
	}
	.fab{
		display: none !important;
		
	}
	#big_menu{
		display: none;
	}
	#toggler{
		display:block;
	}
	.separator{
		margin-top: 50px;
	}
	.mnie_txt{
		padding: 0px 0px 0px 0px;
	}
	.mnie_txt h3{
		clear: left;
	}
	.gallery img{
		transition: 0.2s;
	}
	.content {
		 padding: 20px 20px 20px 20px;
		 text-align: center;
	}
	.cennik_left{
		float: none;
	}
	.cennik_right{
		float: none;
	}
	#pictures a {
  
    top: 1200px;
	}
	html {
	
	overflow-y: auto;
}
}
