html {
	scroll-behavior: smooth;
}
body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: Josefin Sans;
}
hr{
	width: 70%;
	border-color: orange;
}
header{
	text-align: center;
	font-size: 25px;
	font-family: 'Berkshire Swash', cursive;
  text-shadow: 1px 1px 3px black;
  margin: -20px 0 -20px 0;
}
header img{
	width: 400px;
}
a{
	text-decoration: none;
}



/*nav*/
#big_menu{
	background-color: rgba(255,255,255,0.9);
  padding-left: 25%;
	padding-right: 25%;
	position: sticky;
	top: 0px;
	z-index: 10;
	border: 1px solid black;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	//font-family: 'Parisienne', cursive;
}
#big_menu a{
	font-weight: bold;
	color: black;
  display: inline-block;
	width: 20%;
	transition: 0.3s;
}
#big_menu a:hover{
	font-size: 14px;
	text-shadow: 2px 2px 2px black;
}
#big_menu ul{
  padding: 0px;
}
#big_menu ul li {
  display: inline;
  text-align: center;
}
.item-nav{
  transition: 0.2s;
}

#toggler{
	position: fixed;
	display: none;
	top: 10px;
	border: solid 1px black;
	color: black;
	padding: 12px;
	margin-top: 20px;
	margin-left:5px;
	background-color: white;
}
#small_menu{
	position: fixed;
	top: 80px;
	height: 0px;
	overflow: hidden;
	margin-left: 5px;
	transition: 0.5s;
	font-size: 15px;
}
#small_menu a:hover{
	color: orange;
	text-shadow: 1px 1px 1px black;
}
#small_menu a{
	color: black;
}
#small_menu ul{
	width: 120px;
	padding: 10px;
	margin: 0px;
	background-color: white;
	line-height: 200%;
	list-style: none;
	border: solid 1px black;
}



.separator {
	color: black;
  font-size: 20px;
  height: 100px;
  text-align: center;
	//font-family: 'Kaushan Script', cursive;
	//font-family: 'Pacifico', cursive;
	//font-family: 'Parisienne', cursive;
}
.content {
  margin-top: 40px;
  color: black;
	padding: 20px 100px 20px 100px;
  min-height: 650px;
 	background-color: white;
  font-size: 18px;
	font-family: 'Kalam', cursive;
}
  
.mnie_pic{
  float: left;
  margin-right: 50px;
}
.mnie_pic img{
	width: 300px;
}
.mnie_txt{
  padding: 50px 50px 50px 50px;
}
.gallery{
	display: inline-block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	
}
.gallery img{
	width: 350px;
	transition: 0.2s;
}
.gallery img:hover{
	opacity: 0.6;
	cursor: pointer;
	box-shadow: 3px 3px 5px black;
	filter: blur(2px);
}
  
@media (max-width: 870px) {
	header img{
		width: 300px;
	}
	#big_menu{
		display: none;
	}
	#toggler{
		display:block;
	}
	.separator{
		margin-top: 50px;
	}
	.mnie_txt{
	
		padding: 0px 0px 0px 0px;
	}
	.gallery img{
		width: 250px;
		transition: 0.2s;
	}
	.content {
		 padding: 20px 20px 20px 20px;
		 text-align: center;
	}
	.logo{
		height: 80px;
	}
}